<link rel="stylesheet" href="/css/tables.css" />

<h2 class="title">Lojas ativas</h2>
<div class="center">
  <a class="novaloja" href="/novaloja">Criar loja</a>
</div>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Dono</th>
        <th>Nome da loja</th>
        <th>Dominio da loja</th>
        <th>Servidor principal</th>
        <th>Plano</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% lojas.forEach(loja => { %>
      <tr>
        <td><%= loja.donoId %></td>
        <td><%= loja.nomeLoja %></td>
        <td><%= loja.dominio %></td>
        <td><%= loja.servidorPrincipal %></td>
        <td class="plano"><%= loja.plano %></td>
        <td>
          <a class="aa" href="">Editar</a><br /><a class="aa" href=""
            >Suspender</a
          ><br /><a class="aa" href="">Excluir</a>
        </td>
      </tr>
      <% }); %>
    </tbody>

    <tbody></tbody>
  </table>
</div>
