<link rel="stylesheet" href="/css/tables.css" />

<h2 class="title">Tickets cadastrados</h2>
<div class="center">
  <a class="novaloja" href="/criarticket">Cadastrar ticket</a>
</div>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>E-mail</th>
        <th>Assunto</th>
        <th>Mensagem</th>
        <th>Tipo de Cliente</th>
        <th>Status Ticket</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.usuarioModel.user_name %></td>
        <td><%= ticket.usuarioModel.user_email %></td>
        <td><%= ticket.assunto %></td>
        <td><%= ticket.mensagem %></td>
        <td class="plano"><%= ticket.tipoCliente %></td>
        <td class="plano"><%= ticket.status %></td>
        <td>
          <a class="aa" href="">Editar</a><br /><a class="aa" href=""
            >Suspender</a
          ><br /><a class="aa" href="">Excluir</a>
        </td>
      </tr>
      <% }); %>
    </tbody>

    <tbody></tbody>
  </table>
</div>
