<link rel="stylesheet" href="/css/tables.css" />

<h2 class="title">Tickets cadastrados</h2>
<div class="center">
  <a class="novaloja" href="/criarticket">Cadastrar ticket</a>
</div>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>E-mail</th>
        <th>Assunto</th>
        <th>Mensagem</th>
        <th>Status Ticket</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.mensagem.usuarioModel.user_name %></td>
        <td><%= ticket.mensagem.usuarioModel.user_email %></td>
        <td><%= ticket.mensagem.assunto %></td>
        <td><%= ticket.mensagem.mensagem %></td>
        <td class="plano"><%= ticket.status %></td>
        <td><a class="aa" href="">Encerrar</a><br /></td>
      </tr>
      <% }); %>
    </tbody>

    <tbody></tbody>
  </table>
</div>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Administrador</th>
        <th>Ticket respondido</th>
        <th>Resposta</th>
        <th>Status Ticket</th>
      </tr>
    </thead>
    <tbody>
      <% respostas.forEach(resp => { %>
      <tr>
        <td><%= resp.usuarioModel.user_name %></td>
        <td><%= resp.assunto %></td>
        <td><%= resp.mensagem %></td>
        <td class="plano"><%= resp.status %></td>
      </tr>
      <% }); %>
    </tbody>

    <tbody></tbody>
  </table>
</div>
